<!DOCTYPE html>
<html>
<head>
    <title>Add Train</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
    $( document ).ready(function () {
            $("#searchForm").submit(function (event) {
            event.preventDefault();
            ajaxGet();
     });
});

function ajaxGet() {

    $.ajax({
        type: "GET",
        url: "http://localhost:8080/rest/list",
        success: function (result) {
            for (var k in result) {
                var train = "train number = " + k.number + "<br>";
                $('#getResultDiv .list-group').append(train)
            }

        }
    });
}
</script>
</head>


<body>

<div class="container mt-5">
<!--    <form action="/train/search" method="post" id="searchForm">-->
    <form id="searchForm">
        <div class="form-group">
            <label for="stationName">Station Name</label>
            <input type="text" class="form-control" id="stationName" name="stationName" placeholder="station name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div id="getResultDiv" style="padding:20px 10px 20px 50px">
        <ul class="list-group">
        </ul>
    </div>
</div>



</body>
</html>